/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/**
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/*.php
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/uploads/account_documents
/public/uploads/business_logos
/public/uploads/documents
/public/uploads/img
/public/uploads/invoice_logos
/public/uploads/media
/public/uploads/promotion_images
/public/uploads/service_documents
/public/uploads/UltimatePOS

/.vapor
